<ol class="kopsteg">
  <li>Skicka din förfrågan. Du binder dig inte till något.</li>
  <li>Jag bekräftar slutpris, frakt och leveranstid inom ett par dagar.</li>
  <li>Du betalar med Swish när vi kommit överens.</li>
</ol>
